.DatePick .react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.DatePick .react-datepicker__day-names {
  background-color: #f4f6f9;
  border-radius: 20px;
  margin-top: 10px;
}

.DatePick .react-datepicker__day-name {
  width: 38px;
  line-height: 35px;
  font-weight: 700;
  font-size: 14px;
}

.DatePick .react-datepicker__day {
  width: 38px;
  line-height: 35px;
  font-weight: 700;
  font-size: 16px;
}
.DatePick .react-datepicker__day:hover {
  border-radius: 100%;
}

.DatePick .react-datepicker__day--keyboard-selected:hover {
  background-color: rgb(95, 60, 250);
  border-radius: 100%;
}

.DatePick .react-datepicker {
  border: none;
}

.DatePick .back {
  width: 12px;
  height: 12px;
  margin-right: 30px;
  margin-left: 30px;
  cursor: pointer;
  margin-bottom: 2px;
}

.DatePick .saturday {
  color: rgb(0, 0, 255);
}

.DatePick .sunday {
  color: rgb(255, 0, 0);
}

.DatePick .react-datepicker__day--disabled.sunday {
  color: #ffbec0;
}

.DatePick .react-datepicker__day--disabled.saturday {
  color: #bbdefb;
}

.DatePick .react-datepicker__day--keyboard-selected {
  background-color: rgb(95, 60, 250);
  border-radius: 100%;
  color: white;
}
