.react-datepicker__header {
  background-color: white;
  border-bottom: none;
}

.react-datepicker__day-names {
  background-color: #f4f6f9;
  border-radius: 20px;
  margin-top: 10px;
}

.react-datepicker__day-name {
  width: 32px;
  line-height: 32px;
  font-weight: 700;
}

.react-datepicker__day {
  width: 32px;
  line-height: 32px;
  font-weight: 700;
}
.react-datepicker__day:hover {
  border-radius: 100%;
}

.react-datepicker__day--keyboard-selected:hover {
  background-color: rgb(95, 60, 250);
  border-radius: 100%;
}

.react-datepicker {
  border: none;
}

.react-datepicker__day--keyboard-selected {
  background-color: rgb(95, 60, 250);
  border-radius: 100%;
  color: white;
}
