@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "AppleSDGothicNeo", "Noto Sans KR", sans-serif;
  font-weight: 500;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.upper-canvas {
  min-width: 300px !important;
  min-height: 300px !important;
}

.lower-canvas {
  min-width: 300px !important;
  min-height: 300px !important;
}

.tui-image-editor-canvas-container {
  max-width: 300px !important;
  max-height: 300px !important;
}

.tui-image-editor {
  width: 300px !important;
  height: 300px !important;
}
