th,
td {
  padding: 10px;
}

.input-border {
  border-color: #3e68a8 !important;
}

.inputLabel {
  color: #3e68a8 !important;
}

.helper-text {
  text-transform: initial;
  font-size: 1rem !important;
}
