.SliderWrapper {
  height: 100vh;
  width: 100vw;
}
.textWrapper {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  animation: slide 1500ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 135px;
}
.test {
  font-size: 3rem;
  line-height: 56px;
  font-weight: 700;
}
.cl {
  -webkit-text-fill-color: transparent;
  background: linear-gradient(
    114.08deg,
    rgb(76, 46, 208) 9.72%,
    rgb(131, 63, 199) 53.01%,
    rgb(186, 41, 146) 91.54%
  );
  color: transparent;
  -webkit-background-clip: text;
}

.disc {
  margin-top: 30px;
  font-size: 1.5rem;
}
.disc2 {
  margin-top: 10px;
  font-size: 1.5rem;
}

.linkWrapper {
  margin-top: 100px;
  display: flex;
}

.arrowText {
  margin-left: 13px;
  font-size: 1.5rem;
  font-weight: 700;
}

@keyframes slide {
  from {
    margin-top: 20%;
    opacity: 0;
  }
  to {
    margin-top: 10%;
    opacity: 1;
  }
}

@keyframes leftSlide {
  from {
    padding-left: 0%;
    opacity: 0;
  }
  to {
    padding-left: 12%;
    opacity: 1;
  }
}

@keyframes RightSlide {
  from {
    padding-left: 10%;
  }
  to {
    padding-left: 2%;
  }
}

@keyframes Oppa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
